<h1>Medication form</h1>
 
<% @medication.inspect %> 
<%= form_for [@hospital, @patient, @medication] do |f| %>
  
<% if @medication.errors.any? %>
    <% @pmedication.errors.full_messages.each do |message| %>
      <%= message %>
      <br>
    <% end %>
 <% end %>

<strong><%= f.label :name %></strong>
<%= f.text_field :name %>
<br>
<br>
<strong><%= f.label :uses %></strong>
<%= f.text_field :uses %>
<br>
<br>
<strong><%= f.label :dosage%></strong>   
<%= f.text_field :dosage %>
<br>
<br>
<strong><%= f.label :side_effects %></strong>  
<%= f.text_area :side_effects %>
<br>
<%= f.submit %>

<% end %>


