<h1>Show Patient</h1> 
<br>
<strong>Name:</strong> 
<%= @patient.first_name %>
<%= @patient.last_name %>
<br>
<strong>Gender:</strong>
<%= @patient.gender %>
<br>
<strong>Date of Birth:</strong>  
<%= @patient.date_of_birth %>
<br>
<strong>Description:</strong>
<%= @patient.description %>
<br>


<%= link_to medication.name, hospital_patient_medication_path(@hospital, @patient, @medication) %>
|
<%= link_to "Edit", edit_hospital_patient_medication_path(@hospital, @patient, @medication) %>
|
<%= link_to "Delete", hospital_patient_medication_path(@hospital, @patient, @medication), method: :delete %>
<br>
<%= link_to 'Back', hospitals_path %>

