<h1>Patient List</h1>
<%= link_to "Root", hospitals_path %>
<br>
<%= link_to "Create Patient", new_hospital_patient_path(@hospital, patient) %>



<ul>
  <% @patients.each do |patient| %>
  <li>
    <%= link_to patient.first_name, hospital_patient_path(@hospital, patient) %>
    <%= link_to patient.last_name, hospital_patient_path(@hospital, patient) %>
    <br>
    <%= patient.date_of_birth %>
    <br>
    <%= patient.gender %>
    <br>
    <%= patient.description %>
    <br>
    <br>
    </li>
    <%= link_to "Edit", edit_hospital_patient_medication_path(@hospital, patient) %>
    |
    <%= link_to "Delete", hospital_patient_medication_path(@hospital, patient), method: :delete %>
    |
    <%= link_to "Back", hospital_patients_path %>

  <% end %>

</ul>