<div>
  <h2><%= link_to "Welcome", root_path %> 
    |
    <%= link_to @hospital.name, hospital_path(@hospital) %>
  </h2>
</div>

<div>
  <h2><%= @patient.first_name %>
    <%= @patient.last_name %></h2>
    <div>Date of Birth: <%= @patient.date_of_birth.strftime("%m/%d/%Y") %></div>
    <div>Gender: <%= @patient.gender %></div>
    <div>Reason for visit:  <%= @patient.description%></div>
</div>

<div>
  <h2>Medications:</h2>
  <% @patient.medications.each do |medication| %>
  <ul>
    <li>
      <h3><%= medication.name %></h3>
      <div><strong>Used for:</strong>
        <%= medication.uses %>
      </div>
      <div><strong>Dosage:</strong>
        <%= medication.dosage %>
      </div>
      <div><strong>Side Effects:</strong><%= medication.side_effects %>
      </div> 
    </li>
  </ul>
<% end %>   

<div><%= link_to "Edit Medication", edit_hospital_patient_path(@hospital, @patient) %>
</div>

<h3>Doctors associated with patient:</h3>
<!-- will show the doctor that goes with that patient -->

<div><%= form_for @doctor, url: create_doctor_hospital_patient_path(@hospital, @patient) do |f| %>
  <% @patient.doctors.each do |doctor| %>
  <% if doctor.id %>
  <br>
  <%= doctor.doctor_name %>
  <%= link_to "Delete", delete_doctor_hospital_patient_path(@hospital, @patient, doctor_id: doctor.id), method: :delete  %>
  <% end %>
<% end %>
</div>
<br>
  <!-- create_comment_restaurant -->
<div><%= f.label :doctor_name %>
  <%= f.text_field :doctor_name %>
  <%= f.submit "submit new doctor" %>
  <% end %>
</div>  
<br>
<div>
  <%= link_to "Delete Patient", hospital_patient_path(@hospital, @patient), method: :delete %>
  |
  <%= link_to 'Back to Hospitals List', hospitals_path %>
</div>

