%div
  %h2
    = link_to "Welcome", root_path
    |
    = link_to @hospital.name, hospital_path(@hospital)
%div.row
  %div.col-md-4
    = @patient.first_name
    = @patient.last_name
  %div
    Date of Birth: #{@patient.date_of_birth.strftime("%m/%d/%Y")}
  %div
    Gender: #{@patient.gender}
  %div
    Reason for visit:  #{@patient.description}
%div
  %h2 Medications:
  - @patient.medications.each do |medication|
    %ul
      %li
        %h3= medication.name
        %div
          %strong Used for:
          = medication.uses
        %div
          %strong Dosage:
          = medication.dosage
        %div
          %strong Side Effects:
          = medication.side_effects
  %div
    = link_to "Edit Medication", edit_hospital_patient_path(@hospital, @patient)
  %h3 Doctors associated with patient:
  
  %div
    = form_for @doctor, url: create_doctor_hospital_patient_path(@hospital, @patient) do |f|
      - @patient.doctors.each do |doctor|
        - if doctor.id
          %br
            = doctor.doctor_name
            = link_to "Delete", delete_doctor_hospital_patient_path(@hospital, @patient, doctor_id: doctor.id), method: :delete
          %br
   
          %div
            = f.label :doctor_name
            = f.text_field :doctor_name
            = f.submit "submit new doctor"
          %br
            %div
              = link_to "Delete Patient", hospital_patient_path(@hospital, @patient), method: :delete
              |
              = link_to 'Back to Hospitals List', hospitals_path