<!-- url= localhost:3000/hospitals -->
<div><h3><%= link_to 'Welcome', root_path %></h3></div>  
  
<div>
  <% @hospitals.each do |hospital| %>
  <h2><%= link_to hospital.name, hospital_path(hospital) %></h2>
  <div><%= hospital.address %></div>
  <div><%= hospital.city %>,<%= hospital.state %></div>
  <div><%= hospital.zip %></div>
</div>
<br>
<div><%= link_to "Edit", edit_hospital_path(hospital) %>
  <%= link_to "delete", hospital_path(hospital), method: :delete %>
</div>
<br>
<% end %>
<div><%= link_to "Create Hospital", new_hospital_path %></div>
  