<h1>Hospital</h1>
<br>
<div>
  <h2><%= @hospital.name %></h2>

  <h3><strong><%= @hospital.address %></strong>
  <div><strong><%= @hospital.city %>,</strong>
  <strong><%= @hospital.state %></strong>
  </div>
  <strong><%= @hospital.zip %></strong>
  <div><strong><%= @hospital.phone %></strong></div>
</h3>
  
  
</div>
<br>
<div>
  
  <%= link_to "Add Patient", new_hospital_patient_path(@hospital) %>
  <ul>
    <% @patients.each do |patient| %>
    <li>

      <%= link_to patient.first_name, hospital_patient_path(@hospital, patient)%>
  
      <%= link_to patient.last_name, hospital_patient_path(@hospital, patient)%>
      <br>
      <%= patient.date_of_birth %>
      <br> 
      <%= patient.description %>
    </li>
    <div><%= link_to "Edit", edit_hospital_patient_path(@hospital, patient)%>
      |
        <%= link_to "Delete", hospital_patient_path(@hospital, patient), method: :delete %>
    </div>
  <% end %>
  </ul>
</div>


<%= link_to 'Back', hospitals_path %>